@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
  
  /* Light theme */
  --link-color-light: #0000EE;
  --text-color-light: #000000;

  /* Dark Theme */
  --link-color-dark: #6666FF;
  --text-color-dark: #FFFFFF;
}

@media (prefers-color-scheme: light) {
  :root {
    --link-color: var(--link-color-light);
    --text-color: var(--text-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: var(--link-color-dark);
    --text-color: var(--text-color-dark);
  }
}

*, body {
  font-size: small;
  font-weight: bold;
  font-family: var(--font-jetbrains-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: var(--link-color);
}

input {
  background-color: transparent;
  margin-top: 1rem;
  border: none;
  width: 100%;
  padding: 0;
  outline: none;
}

button {
  color: var(--link-color);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}