:root {
  color-scheme: light dark;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
}

body {
  font-family: "Consolas";
  padding: 0;
  border: 0;
}

p {
  margin: 0;
}

input {
  background-color: transparent;
  margin-top: 1rem;
  border: none;
  width: 100%;
  font-size: 0.875rem;
  padding: 0;
}